<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<ul>
  <li><%= link_to "Host", {:controller => 'hosts'} %></li>
  <li><%= link_to "BIOS", {:controller => 'bioses'} %></li>
  <li><%= link_to "Processor", {:controller => 'processors'} %></li>
  <li><%= link_to "Baseboard", {:controller => 'baseboards'} %></li>
</ul>
